<header class="header">
    <div class="container">
        <div class="header-left">
            <span class="header-p">Anais do Simpósio Latino Americano de Ciências de Alimentos </span>
            <h2 class="header-h2">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h2>
            <span class="header-span">ISSN: 1234-5678</span>
        </div>
        <div class="language-container">
            <div class="text-container">
              <label>Escolha o idioma:</label>
            </div>
            <div class="select-container">
              <select class="language-selector">
                <option value="pt">Português</option>
                <option value="en">English</option>
                <option value="es">Español</option>
              </select>
            </div><!--select-container-->
        </div><!--language-container-->
          

        <div class="header-right">
            <div class="container-text">
                <p class="container-p">Bem Vindo</p>
                <p class="container-p-email">alguem12@galoascience.com</p>
            </div>
            <div class="perfil">
                <span class="numero">2</span>
            </div>
        </div><!--header-roght-->
    </div><!--container-->
</header>
