<div class="toolbar" >
    <div class="header-sidebar">
        <h2>SLACA 2019</h2>
    </div>
    <div class="logo"></div>
    <h1 class="h1-logo">13 SLACA</h1>
    <nav>
        <ul>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Comitês</a></li>
            <li><a href="#">Autores</a></li>
            <li><a href="#">Eixos temáticos</a></li>
            <li><a href="#">Trabalhos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
</div>
